<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECHY BLOG MAIN PAGE</title>
</head>
<body>
    <div style="font-family: Arial, Helvetica, sans-serif; display:flex; flex-direction: column; justify-content: space-between; height: 100%;">
        <% if(user) { %>
            <header style="display: flex; justify-content: space-between; padding: 10px 10px; align-items: center;">
                <div style="display: flex; align-items: center; column-gap: 10px;">
                    <p style="margin: 0; font-size: 32px; font-weight: bold;">Techy Blog</p>
                </div>

                <p style="margin: 0; font-size: 16px; font-weight: bold;"><%= user.first_name %> <%= user.family_name %>
                    <span style="font-size: 10px"><a href="/techy-blog/log-out" >LOG OUT</a> </span>
                </p>
            </header>
            <main>
                <% if(user.isAdmin === true) {%>
                    <form action="/techy-blog/:id/write-post" method="get">
                        <button style="cursor: pointer; width: 100%; height: 100%;">WRITE A POST</button>
                    </form>
                <% } %>
                <% posts.forEach(post => { %>
                    <div style="margin: 10px 20px; border: solid 1px black; padding: 10px; border-radius: 5px;">
                        <h3 style="white-space: pre-line;"><%= post.title %></h3>
                        <p style="white-space: pre-line;"><%= post.body %></p>
                    </div>
                <% }); %>
            </main>
            <footer style="text-align: center;">
                <span> 2024 | jeldrint | Blog API Project | The Odin Project</span>
            </footer>
        <% }else{ %>
            <header style="display: flex; justify-content: space-between; padding: 10px 10px; align-items: center;">
                <div style="display: flex; align-items: center; column-gap: 10px;">
                    <p style="margin: 0; font-size: 32px; font-weight: bold;">Techy Blog</p>
                </div>
                <div style="display: flex; column-gap: 10px;">
                    <form action="/techy-blog/log-in" method="get" >
                        <button style="cursor: pointer;">Log in</button>
                    </form>
                    <form action="/techy-blog/sign-up" method="get" >
                        <button style="cursor: pointer;">Sign up</button>
                    </form>
                </div>    
            </header>
            <main>
                <% posts.forEach(post => { %>
                    <div style="margin: 10px 20px; border: solid 1px black; padding: 10px; border-radius: 5px;">
                        <h3 style="white-space: pre-line;"><%= post.title %></h3>
                        <p style="white-space: pre-line;"><%= post.body %></p>
                    </div>
                <% }); %>
            </main>
            <footer style="text-align: center;">
                <span> 2024 | jeldrint | Blog API Project | The Odin Project</span>
            </footer>
        <% } %>
    </div>
</body>
</html>